:root {
    --main-color: #757575;
    --accent-color: #2196F3;
    --header-color: #212121;
    --secondary-logo-color: #000000;
    --secondary-header-color: #FFFFFF;
}
/* global rules */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
/* header */
/* Logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;


    text-decoration: none;

    color: var(--secondary-logo-color)
}
.logo-accent {
    color: var(--accent-color);
}
/* navigation */
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}
.current {
    color: var(--accent-color);
}
.nav-link:hover {
    color: var(--accent-color);
}
.nav-link:focus {
    color: var(--accent-color);
}
/* contacts */
.contact-link {
    color: var(--main-color);
}
/* hero */
.hero-sect{
    background-color: black;
}
.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--secondary-header-color);

}
.button {
    cursor: pointer;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--secondary-header-color);
    background-color: var(--accent-color)  
}
/* Qualities */
.quality-header {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--header-color);
}
/* What we do */
.main-header {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: var(--header-color);
}
/* Our team */
.names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--header-color);
}
.speciality {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}